@model CodingEvents.ViewModels.AddEventCategoryViewModel;


<h1>
    Add Category
</h1>

<form asp-controller="EventCategory" asp-action="ProcessCreateEventCategoryForm" method="post">
    <label>
        Name
        <input asp-for = "Name"/>
        <span asp-validation-for = "Name"></span>
    </label>
    <input type="submit" value="Add Category"/>
</form>